* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* About me */

header {
  display: flex;
  background-color: rgb(65, 143, 174);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  padding: 50px;
}

#aboutmeimg {
  height: 400px;
  width: auto;
}

.clickable {
  cursor: pointer;
}

/* Projects */

.my-work {
  padding: 50px;
}

.projects {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.project {
  display: flex;
  flex-direction: column;
}

.screenshot-project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: white;
  font-size: 55px;
  text-align: center;
}

#one {
  background-color: maroon;
}
#two {
  background-color: rgb(88, 88, 179);
}
#three {
  background-color: rgb(26, 86, 26);
}
#four {
  background-color: rgb(231, 59, 162);
}
#five {
  background-color: rgb(237, 165, 31);
}
#six {
  background-color: rgb(0, 157, 255);
}

.project-info {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 20px;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding: 30px;
}

.project-title {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.icons {
  display: flex;
  gap: 10px;
}

.project-icon {
  height: 20px;
  width: 20px;
}

/* Contact */

.contact {
  padding: 50px;
  background-color: rgb(65, 143, 174);
}

video {
  width: 50%;
  height: auto;
  display: block;
}
