* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* About me */

header {
  display: flex;
  background-color: rgb(65, 143, 174);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  padding: 50px;
}

#aboutmeimg {
  height: 400px;
  width: auto;
}

/* Projects */

.my-work {
  padding: 50px;
}

.projects {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.project-title {
  display: flex;
}

.project-icon {
  height: 20px;
  width: 20px;
}

/* Contact */

.contact {
  padding: 50px;
  background-color: rgb(65, 143, 174);
}

video {
  width: 50%;
  height: auto;
  display: block;
}
